@use 'config' as c;

.artPersonal01{

//distribucion
    width: 100%; //el alto lo q ocupe el article
    padding: 0 1.3rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1.3rem;

    
        @media only screen and (min-width:c.$tablet){
            width:70%;

            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 1.3rem;

        }
    
        @media only screen and (min-width:c.$desktop){
            width:60%;

            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 1.3rem;

        }
     
    //lO XOMUN EN DESTACADOS Y NOTICIAS
    >div{
        width:100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.3rem;

         @media only screen and (min-width:c.$tablet){
            width:60%;

        }
    
    >:nth-child(1){
        width: 100%; //en movil a sangre

        @media only screen and (min-width:c.$tablet){
            width:80%; //en tablet 

        }
    }

    >:nth-child(2){
        width: 100%;

          @media only screen and (min-width:c.$tablet){
            width:20%;

        }
    }

         >:nth-child(1){//como no tiene tamaño caja d texto.
            width: 100%;
            text-align: left;

            }
        }

   
        //Solo al div 1(lo especial9.DESTACADOS
    :nth-child(1){

    }

    //Solo al div 1(lo especial9.NOTICIAS
    :nth-child(2){

    }







}