* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Cause' ;
  src: url('../../Fonts/Cause-Medium.ttf');
  
}

@font-face {
  font-family:'Macondo' ;
  src: url('../../Fonts/MacondoSwashCaps-Regular.ttf');
}

// ejemplo de cómo son las variables en css normal(aquí ya no lo usamos)
:root{
  --color: black;
}

// VARIABLES Fuentes y colores (sólo válidas en scss)
$fuenteText:'Cause';
$fuenteHeaders: 'Macondo';
$color00:white;
$color01: black;
$color02: #1aeca4;
$color03: #008cd5;
$color04: #410a6e;

$tablet:800px;
$desktop:1300px;

header, nav, main, footer, section{
  width: 100%;
}

section{
  display: flex;
  flex-direction:column;
  align-items:center ;
  justify-content:flex-start;
  row-gap: 3rem;
  padding:2rem, 1.5rem;
  @media only screen and (min-width:$desktop){
    padding: 4rem 0rem;
    row-gap: 4rem;
  }
}

h1, h2, h3,h4{
 font-family:$fuenteHeaders;
}

h3{
  color:$color03;
}
